SUPERSET_URL=https://reports.whatfix.com
SUPERSET_USER=
SUPERSET_PASSWORD=
SUPERSET_DB_ID=

LOCAL_CH_HOST=localhost
LOCAL_CH_PORT=8123
LOCAL_CH_USER=default
LOCAL_CH_PASSWORD=local-dev-only
LOCAL_CH_DATABASE=default
